*{
    margin: 0;
    padding: 0;
}

.navbar{
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


.nav-menu{
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
 
   text-align: right;
}

.logo{
    width: 100px;
}