*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: hsl(9, 97%, 86%);
    height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

/*.logo{

}*/
.nav-menu{
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
 
   text-align: right;
}